<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>416595547739-ufu16h3elrko69vnhu5a2gk09rg7s06u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416595547739-ufu16h3elrko69vnhu5a2gk09rg7s06u</string>
	<key>API_KEY</key>
	<string>AIzaSyDejDFogKD5rPhPTVKUGO2GiX1dTgqEyQY</string>
	<key>GCM_SENDER_ID</key>
	<string>416595547739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefighters.VisualLanguageLearn</string>
	<key>PROJECT_ID</key>
	<string>visuallanguagelearn</string>
	<key>STORAGE_BUCKET</key>
	<string>visuallanguagelearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416595547739:ios:7ea4e51479dac1c2</string>
	<key>DATABASE_URL</key>
	<string>https://visuallanguagelearn.firebaseio.com</string>
</dict>
</plist>